<div>
<div class="dynamic-grid" angular-grid="list" ag-grid-width="300" ag-gutter-size="20"  grid-id="gallery" ag-refresh-on-img-load="false">
  <div class="grid" ng-repeat="item in list | limitTo:limit">
		<div class="artist">
			<div class="title" ng-bind="item.song.title"></div>
			<a href="{{item.song.iTunesLink}}"><img class="grid-img"  src="https://lsb-cdn1.wurrly.co/images/x200/{{item.song.imagePath}}" alt=""></a>
			<div class="title" ng-bind="item.song.artist.name"></div>
			<div class="title"><a href="{{item.song.iTunesLink}}">iTunesLink</a></div>
			<div class="title" ng-bind="item.song.createdAt | date: 'medium'"></div>
		</div>
		
		<div class="customer">
			<video ng-click="playVideo($event)" class="user detailB" preload="none" poster="https://lsb-cdn1.wurrly.co/images/x200/{{item.imagePath}}">
	  			<source src="https://lsb-cdn1.wurrly.co/{{item.assets.video}}" type="video/mp4">
	  			<source src="https://lsb-cdn1.wurrly.co/wurrlies/39/lr/4O/4d/kEfwkVML8D_video.ogg" type="video/ogg">
					Your browser does not support the video tag.
			</video>
				<div class="detailA">
				<div class="detailUp tetailC" item.statistics>
				<div class="sbar"><a href="#">comments:</a><p class="badge" ng-bind="item.statistics.comments"></p></div>
				<div class="sbar"><a href="#">plays:</a><div class="badge" ng-bind="item.statistics.plays"></div></div>
				<div class="sbar"><a href="#">shares:</a><div class="badge" ng-bind="item.statistics.shares"></div></div>
				<div class="sbar"><a href="#">likes:</a><div class="badge" ng-bind="item.statistics.likes"></div></div>
				</div detailDown>
				<p class="detailDown" ng-bind="'Uploaded on: '+item.creationDate"></p>
				</div>
		</div>
    </div> 
  </div>     
</div>